.imagen-fondo{
    background-image: url(../imgenes/optional_banner_4.jpg);
    background-position: center;
}
.iconoA{
    width: 13vw;
    height: 5vh;
}
.navegadores{
    text-decoration: none !important; 
    border: solid #b2443a 3px ;
    border-radius: 20%;
    color:  rgb(12, 1, 2);
    font-weight: 700;
    -webkit-backdrop-filter: blur(400px);
    backdrop-filter: blur(400px);
    gap: 5%
}
.navegadores:hover{
    background: #afd7ce;;
    color: red;
}
.contenedor img{
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    width: 20vw;
    height: 20vh;
    border-radius: 70%;
}
.contenedor{
    width: 20vw;
    -webkit-backdrop-filter: blur(400px);
    backdrop-filter: blur(400px);
    border: solid rgb(241, 162, 162) 1px;
    border-radius: 10%;
}
.precios-y-details{
    display: flex;
    justify-content: center;
    gap: 20%;
}
.precios-y-details a{
    color: #0a0101;
    font-weight: 600;
    background-color: #f3a59e;
    border: solid #fa8072 2px;
    text-decoration: none;
    margin-bottom: 2%;
}
#piefinal{
    border: solid rgb(241, 162, 162) 1px;
}
.imagen-pie{
    display: flex;
    width: 3vw;
    height: 3vh;
}
.carousel-imagenes{
    margin-top: 0.5%;
    height: 40vh;
    width: 100%;
}
.carousel-imagenes img{
    height: 40vh;
    width: 100%;
}
.formu-contacto{
    display: flex;
    flex-direction: column;
}
.formu-contacto-m input{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vw;
}
.formu-contacto input{
    width: 30vw;
}
.boton-{
    width: 65vw;
    display: flex;
    justify-content: flex-end;
}
.tabla{
    margin-top: 3%;
    margin-left: 15%;
}
.tabla th, td{
    border: solid black 2px;
    border-collapse: collapse;
}
.detalles{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 70%;
    border: solid black 2px;
}
.detalles-image{
    width: 30vw;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    #navegadors{
        display: flex !important;
        justify-content: center !important;
    }
    .iconoA{
        width: 20vw;
    }
    .tarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor{
        width: 50vw;
    }
    .contenedor img{
        padding-left: 3%;
        width: 95%;
        border-radius: 50%;
    }
    .items-form{
        margin-left:0;
        padding: 0;
    }
    .eleccion{
        padding: 0 !important;
        margin: 0 !important;
    }
    .tabla{
        margin: 0 !important;
    }
    .detalles{
        margin: 0 !important;
        padding: 0!important;
        width: 100% !important;
    }
    .detalles-image{
        height: 40vh;
    }
    #formul{
        display: flex !important;
        flex-direction: column !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .tabla{
        margin-left: 5% !important;
    }
    #formul{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }

}